# Data Science and Ecosystem

In this notebook, Data Science Tools and conceptsare summarized with few examples.

**Objectives**
- Data Science Languages
- Important Data Science Libraries
- Data Science Tools
- Couple of arthimetic examples

Most commonly used Data Science languages used by Data Scientist's are:
1. Python
2. R
3. SQL
4. MATLAB
5. TensorFlow
6. Java

Some of the most commonly used Data Science Libraries by Data Scientists are:

1. Pandas
2. Numpy
3. Matplotlib
4. Platly
5. Scikit-learn
6. tensorflow
7. seaborn

|Data Science Tools|
|---|
|Anaconda|
|Jupyter Notebook|
|R studio|
|MatLab|

## Let's go through few arthimetic expressions examples in Python

In [1]:
# This is a simple arthimetic expression where we will be multiplying the numbers and then adding here

(4*5)+6

26

In [5]:
# This cell is used to convert minutes and hours
# Here we are converting 400 minutes into hours

m=400
h1=400//60
h2=400%60

print(f"{m} minutes is equal to {h1} hours and {h2} minutes")

400 minutes is equal to 6 hours and 40 minutes

**Author** : Laxmi Narsimha Reddy Nalla